.aboutMe {
    position: relative;
    grid-area: aboutMe;
    background-color: var(--tag-bg);
    height: var(--horizontal-height);
    width: var(--horizontal-width);
    margin-bottom: 0.5rem;
    border: 1px solid var(--paragraph);
    border-radius: var(--border-radius);
}
.content {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: var(--padding-large);
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
}
.title {
    text-align: right;
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: 2rem;
    line-height: var(--line-height-header);
    letter-spacing: var(--letter-spacing-header);
    color: var(--paragraph);
}
.text {
    width: 80%;
    text-align: right;
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    font-weight: 300;
    line-height: var(--line-height-text);
    letter-spacing: var(--letter-spacing-text);
    text-wrap: pretty;
    color: var(--paragraph);
}
@media (max-width: 1200px) {
    .aboutMe {
        width: var(--horizontal-half-width);
        height: var(--horizontal-half-height);
    }
    .image {
        width: 100%;
    }
}
