.aboutMe {
    position: relative;
    grid-area: aboutMe;
    background-color: transparent;
    height: var(--horizontal-height);
    width: var(--horizontal-width);
    margin-bottom: 0.5rem;
}
.image {
    height: var(--horizontal-height);
    width: var(--horizontal-width);
}
.content {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: var(--padding-large);
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
}
.title {
    text-align: right;
    font-family: var(--font-header);
    text-transform: uppercase;
    font-size: var(--font-size-header);
    line-height: var(--line-height-header);
    letter-spacing: var(--letter-spacing-header);
    color: #f8f8f8;
}
.text {
    width: 60%;
    text-align: right;
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    font-weight: 300;
    line-height: var(--line-height-text);
    letter-spacing: var(--letter-spacing-text);
    text-wrap: pretty;
    color: #f8f8f8;
}
@media (max-width: 570px) {
    .aboutMe {
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 385px) {
    .aboutMe {
        position: unset;
        height: auto;
        width: 100%;
        background-color: #333;
        border-radius: 0.5rem;
        padding: 1rem;
    }
    .aboutMe img {
        display: none;
    }
    .content {
        padding-bottom: 0;
        position: unset;
    }
    .text {
        padding-bottom: 0;
        width: 90%;
        font-size: 13px;
        text-wrap: pretty;
    }
}
