.gitHub {
    grid-area: gitHub;
    height: var(--mini-height);
    width: var(--mini-width);
    background-color: transparent;
}
.gitHub__image {
    max-width: var(--mini-width);
    max-height: var(--mini-height);
}
@media (max-width: 1200px) {
    .gitHub {
        height: var(--mini-half-height);
        width: var(--mini-half-width);
    }
    .gitHub__image {
        max-height: 100%;
        max-width: 100%;
    }
}
@media (max-width: 798px) {
    .gitHub {
        width: 100%;
    }
    .gitHub__image {
        max-width: 100%;
        max-height: 100%;
    }
}
