.gitHub {
  grid-area: gitHub;
  height: var(--mini-height);
  width: var(--mini-width);
  background-color: transparent;
}
.gitHub__image {
  max-width: var(--mini-width);
  max-height: var(--mini-height);
}
@media (max-width: 570px) {
  .gitHub {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 385px) {
  .gitHub {
    height: auto;
    width: 100%;
  }
  .gitHub__image {
    width: 100%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }
}
