.wrapper {
    max-width: 1200px;
    margin: 6.125rem auto;
    overflow-x: visible;
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    grid-template-areas:
        "profile profile project1 lightDarkMode"
        "profile profile project1 lightDarkMode"
        "resume language project1 project2"
        "resume language project1 project2"
        "workTogether workTogether linkedIn project2"
        "workTogether workTogether gitHub project2"
        "project3 project4 skills skills"
        "project3 project4 skills skills"
        "project3 project4 aboutMe aboutMe"
        "project3 project4 aboutMe aboutMe";
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 800px;
        margin: 4.125rem auto;
        grid-template-areas:
            "profile profile project1 project1"
            "profile profile project1 project1"
            "profile profile project1 project1"
            "lightDarkMode language project1 project1"
            "lightDarkMode language . ."
            "resume . . ."
            "resume . . .";
    }
}
@media (max-width: 798px) {
    .wrapper {
        max-width: 100vw;
        margin: 2.125rem 1rem;
        grid-template-areas:
            "profile profile profile"
            "profile profile profile"
            "project1 lightDarkMode language"
            "project1 . ."
            "resume . .";
    }
}
@media (max-width: 498px) {
    .wrapper {
        max-width: 100vw;
        margin: 1rem;
        grid-template-areas:
            "profile profile"
            "profile profile"
            "project1 lightDarkMode"
            "project1 language"
            "project1 ."
            ". resume";
    }
}
@media (max-width: 390px) {
    .wrapper {
        max-width: 100vw;
        margin: 1rem;
        grid-template-areas:
            "profile profile"
            "language lightDarkMode"
            "project1 project1"
            "resume resume";
    }
}

.wrapperAbout {
    max-width: 752px;
    margin: 6.125rem auto;
    overflow-x: visible;
    display: grid;
    grid-template-areas:
        "profile profile resume lightDarkMode"
        "profile profile resume lightDarkMode"
        "aboutMe aboutMe skills skills"
        "aboutMe aboutMe skills skills"
        "language . . ."
        "language . . .";
}
.wrapperSkills {
    max-width: 752px;
    margin: 6.125rem auto;
    overflow-x: visible;
    display: grid;
    grid-template-areas:
        "skills skills resume lightDarkMode"
        "skills skills resume lightDarkMode"
        ". language gitHub ."
        ". language . .";
}
.wrapperProjects {
    max-width: 752px;
    margin: 6.125rem auto;
    overflow-x: visible;
    display: grid;
    grid-template-areas:
        "project1 project2 project3 project4"
        "project1 project2 project3 project4"
        "project1 project2 project3 project4"
        "project1 project2 project3 project4"
        ". language lightDarkMode ."
        ". language lightDarkMode .";
}
.wrapperContact {
    max-width: 752px;
    margin: 6.125rem auto;
    overflow-x: visible;
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
        "profile profile workTogether workTogether"
        "profile profile workTogether workTogether"
        "linkedIn language lightDarkMode ."
        "gitHub language lightDarkMode .";
}

@media (max-width: 798px) {
    .wrapperAbout {
        max-width: 385px;
        margin: 3.125rem auto;
        grid-template-areas:
            "profile profile"
            "profile profile"
            "lightDarkMode resume"
            "lightDarkMore resume"
            "skills skills"
            "skills skills"
            "aboutMe aboutMe"
            "aboutMe aboutMe"
            "language language"
            "language language";
    }
    .wrapperSkills {
        max-width: 385px;
        grid-template-areas:
            "skills skills"
            "skills skills"
            "language resume"
            "language resume"
            "gitHub lightDarkMode"
            ". lightDarkMode";
    }
    .wrapperProjects {
        max-width: 385px;
        margin: 3.125rem auto;
        grid-template-areas:
            "project1 project2"
            "project1 project2"
            "project1 project2"
            "project1 project2"
            "project3 project4"
            "project3 project4"
            "project3 project4"
            "project3 project4"
            "lightDarkMode language"
            "lightDarkMode language";
    }
    .wrapperContact {
        max-width: 385px;
        margin: 3.125rem auto;
        grid-template-areas:
            "profile profile"
            "profile profile"
            "workTogether workTogether"
            "workTogether workTogether"
            "language gitHub"
            "language linkedIn"
            "lightDarkMode ."
            "lightDarkMode .";
    }
}
