.language {
    grid-area: language;
    height: var(--square-height);
    width: var(--square-width);
    background: linear-gradient(
        145deg,
        rgba(237, 75, 192, 50%) 20%,
        rgba(237, 75, 75, 40%) 90%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .language {
        height: var(--square-half-height);
        width: var(--square-half-width);
        border-radius: var(--border-radius);
    }
}
@media (max-width: 798px) {
    .language {
        width: var(--square-mobile-width);
        height: var(--square-mobile-height);
    }
}
@media (max-width: 375px) {
    .language {
        max-width: var(--mobile-semi-width);
        height: var(--mobile-semi-height);
        padding: 1rem 0;
    }
}
