.lightDarkMode {
    grid-area: lightDarkMode;
    width: var(--square-width);
    height: var(--square-height);
    background: linear-gradient(
        145deg,
        rgba(75, 237, 140, 40%) 10%,
        rgba(166, 75, 237, 40%) 90%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
@media (max-width: 1200px) {
    .lightDarkMode {
        width: var(--square-half-width);
        height: var(--square-half-height);
        border-radius: var(--border-radius);
    }
}
@media (max-width: 798px) {
    .lightDarkMode {
        width: 100%;
    }
}
@media (max-width: 390px) {
    .lightDarkMode {
        height: 100px;
    }
}
