.linkedIn {
  grid-area: linkedIn;
  height: var(--mini-height);
  width: var(--mini-width);
  background-color: transparent;
}
.linkedIn__image {
  max-width: var(--mini-width);
  max-height: var(--mini-height);
}
@media (max-width: 570px) {
  .linkedIn {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 385px) {
  .linkedIn {
    height: auto;
    width: 100%;
  }
  .linkedIn__image {
    width: 100%;
    height: auto;
    max-width: unset;
    max-height: unset;
  }
}
