.linkedIn {
    grid-area: linkedIn;
    height: var(--mini-height);
    width: var(--mini-width);
    background-color: transparent;
}
.linkedIn__image {
    max-width: var(--mini-width);
    max-height: var(--mini-height);
}
@media (max-width: 1200px) {
    .linkedIn {
        height: var(--mini-half-height);
        width: var(--mini-half-width);
    }
    .linkedIn__image {
        max-height: 100%;
        max-width: 100%;
    }
}
@media (max-width: 798px) {
    .linkedIn {
        width: var(--horizontal-mobile-width);
        height: auto;
    }
    .linkedIn__image {
        max-width: 100%;
    }
}
@media (max-width: 375px) {
    .linkedIn {
        width: var(--mobile-width);
        height: var(--mobile-height);
    }
}
