@font-face {
    font-family: "Acier Display Solid";
    src: url("../../public/Acier-DisplaySolid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.profile {
    border-radius: var(--border-radius);
    grid-area: profile;
    width: var(--horizontal-width);
    height: var(--horizontal-height);
    background-color: var(--grid-item-bg);
    overflow-x: visible;
    display: flex;
    box-shadow: var(--shadow-light);
    transition: var(--size-transition);
}
.profile__image_wrapper {
    width: 100%;
    height: var(--horizontal-full-height);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.profile__content_wrapper {
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile__name {
    font-size: calc(var(--font-size-header) + 0.5rem);
    letter-spacing: var(--letter-spacing-header);
    font-family: var(--font-header);
    text-transform: uppercase;
    color: var(--name);
}
.profile__role {
    font-size: var(--font-size-header);
    letter-spacing: var(--letter-spacing-text);
    font-family: var(--font-header);
    text-transform: uppercase;
    color: var(--role);
}
.profile__paragraph {
    font-size: var(--font-size-text);
    letter-spacing: var(--letter-spacing-text);
    line-height: var(--line-height-text);
    font-family: var(--font-text);
    font-weight: 300;
    color: var(--paragraph);
    text-wrap: pretty;
}

@media (max-width: 1200px) {
    .profile {
        width: var(--horizontal-half-width);
        height: var(--horizontal-half-height);
        transition: var(--size-transition);
    }
    .profile__content_wrapper {
        max-width: 66.666%;
    }
    .profile__name {
        font-size: 1.5rem;
    }
    .profile__role {
        font-size: 1.25rem;
    }
}
@media (max-width: 798px) {
    .profile {
        width: 100%;
        transition: var(--size-transition);
    }
}
