.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-header);
    padding: var(--padding-medium);
    align-items: center;
    border-radius: var(--border-radius);
}
.header {
    width: 100%;
    margin: 0 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-header);
}
.title {
    font-size: var(--font-size-header);
}
.intro {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    font-weight: 300;
    letter-spacing: var(--letter-spacing-text);
    line-height: var(--line-height-text);
    text-wrap: pretty;
    color: var(--paragraph);
}
.image {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    max-width: 100%;
}
.image img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    max-width: 100%;
}
.looper {
    position: absolute;
    bottom: 0.5rem;
    left: 45%;
    transform: translateX(-45%);
}
.looper img {
    height: 125%;
    width: 125%;
}
.project1 .title {
    color: #689489;
}
.project1 svg {
    fill: #689489;
}
.project2 .title {
    color: #ed4bc0;
}
.project2 svg {
    fill: #ed4bc0;
}
.project3 .title {
    color: #8d2ada;
}
.project3 svg {
    fill: #8d2ada;
}
.project4 .title {
    color: #dc7211;
}
.project4 svg {
    fill: #dc7211;
}
.project1 {
    position: relative;
    border-radius: var(--border-radius);
    grid-area: project1;
    height: var(--vertical-height);
    width: var(--vertical-width);
    background-color: var(--grid-item-bg);
    box-shadow: var(--shadow-light);
}
.project2 {
    position: relative;
    border-radius: var(--border-radius);
    grid-area: project2;
    height: var(--vertical-height);
    width: var(--vertical-width);
    background-color: var(--grid-item-bg);
    box-shadow: var(--shadow-light);
}
.project3 {
    position: relative;
    border-radius: var(--border-radius);
    grid-area: project3;
    height: var(--vertical-height);
    width: var(--vertical-width);
    background-color: var(--grid-item-bg);
    box-shadow: var(--shadow-light);
}
.project4 {
    position: relative;
    border-radius: var(--border-radius);
    grid-area: project4;
    height: var(--vertical-height);
    width: var(--vertical-width);
    background-color: var(--grid-item-bg);
    box-shadow: var(--shadow-light);
}
@media (max-width: 1200px) {
    .project1 {
        width: var(--vertical-half-width);
        height: var(--vertical-half-height);
    }
    .project2 {
        width: var(--vertical-half-width);
        height: var(--vertical-half-height);
    }
    .project3 {
        width: var(--vertical-half-width);
        height: var(--vertical-half-height);
    }
    .project4 {
        width: var(--vertical-half-width);
        height: var(--vertical-half-height);
    }
    .image {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        max-height: 50%;
        overflow-y: hidden;
    }
    .looper {
        position: absolute;
        bottom: 0.5rem;
        left: 95%;
        transform: translateX(-95%);
    }
    .looper img {
        height: 66px;
        width: 66px;
    }
    .header svg {
        width: 17.5px;
        height: 17.5px;
    }
    .projectContent {
        padding: var(--padding-large);
        padding-top: 1.5rem;
    }
}
@media (max-width: 798px) {
    .project1 {
        width: var(--vertical-mobile-width);
        height: var(--vertical-mobile-height);
    }
    .project2 {
        width: var(--vertical-mobile-width);
        height: var(--vertical-mobile-height);
    }
    .project3 {
        width: var(--vertical-mobile-width);
        height: var(--vertical-mobile-height);
    }
    .project4 {
        width: var(--vertical-mobile-width);
        height: var(--vertical-mobile-height);
    }
}
@media (max-width: 375px) {
    .project1 {
        width: var(--mobile-width);
        height: var(--mobile-height);
    }
    .project2 {
        width: var(--mobile-width);
        height: var(--mobile-height);
    }
    .project3 {
        width: var(--mobile-width);
        height: var(--mobile-height);
    }
    .project4 {
        width: var(--mobile-width);
        height: var(--mobile-height);
    }
}
