.resume {
  grid-area: resume;
  height: var(--square-height);
  width: var(--square-width);
  background-color: var(--grid-item-bg);
  border-radius: 12.5px;
}
.image {
  max-width: 100%;
  border-radius: 12.5px;
}
@media (max-width: 570px) {
  .resume {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 385px) {
  .resume {
    width: 100%;
    height: auto;
    border-radius: 23px;
  }
  .image {
    border-radius: 23px;
  }
}
