.resume {
    grid-area: resume;
    height: var(--square-height);
    width: var(--square-width);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 0.5px solid var(--paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-large);
    color: var(--paragraph);
}
.image {
    max-width: 100%;
    border-radius: var(--border-radius);
}
@media (max-width: 1200px) {
    .resume {
        width: 100%;
        height: var(--square-height);
    }
}
@media (max-width: 498px) {
    .resume {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
