.skills {
    position: relative;
    grid-area: skills;
    background-color: transparent;
    height: var(--horizontal-height);
    width: var(--horizontal-width);
    background-image: url("/subtract-red.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.text {
    border-radius: 4px;
    font-family: var(--font-header);
    font-size: 20px;
    letter-spacing: 1.11px;
    margin: 0 0.125rem 0 0;
    padding: 5.5px 6.5px;
    background-color: var(--tag-bg);
    color: var(--tag-text);
    text-transform: uppercase;
}
.textSmall {
    border-radius: 4px;
    font-family: var(--font-header);
    font-size: 20px;
    letter-spacing: 1.11px;
    margin: 0 0.125rem 0 0;
    padding: 5.5px 6.5px;
    background-color: var(--tag-bg);
    color: var(--tag-text);
    text-transform: uppercase;
}
.row {
    display: flex;
}
@media (max-width: 1200px) {
    .skills {
        height: var(--horizontal-half-height);
        width: 100%;
        border-radius: var(--border-radius);
    }
    .text {
        font-size: 16px;
    }
    .textSmall {
        font-size: 13px;
    }
    .image {
        width: 100%;
    }
}
@media (max-width: 798px) {
    .skills {
        width: var(--horizontal-mobile-width);
        height: var(--horizontal-mobile-height);
    }
    .text {
        font-size: 15px;
    }
    .textSmall {
        font-size: 12px;
    }
    .image {
        width: 100%;
    }
}
@media (max-width: 375px) {
    .skills {
        width: var(--mobile-width);
    }
}
