.workTogether {
  position: relative;
  grid-area: workTogether;
  background-color: transparent;
  height: var(--horizontal-full-height);
  width: var(--horizontal-full-width);
}
.content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.text {
  font-family: var(--font-text);
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 1.11px;
  margin: 0 0 1rem;
  color: #F8F8F8;
}
@media (max-width: 764px) {
  .workTogether {
    margin-bottom: 0.5rem;;
  }
}
@media (max-width: 570px) {
  .workTogether {
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
@media (max-width: 385px) {
  .workTogether {
    height: auto;
    width: var(--horizontal-full-height);
  }
  .image {
    max-width: 90vw;
  }
  .content {
    bottom: 10%;
    left: 10%;
    transform: translateX(-10%);
    transform: translateY(-10%);
  }
  .text {
    font-size: 13px;
    margin: 0 0 0.25rem;
  }
}
